<!DOCTYPE html>
<html class="no-js">
   <head>
      <title>Rayane</title>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- <meta name="language" content="pt-br" />
      <meta name="author" content="SONU Acadêmico" />
      <meta name="description" content="Programa de Extensão Universitário - Modelo de Simulações de Organismos Internacionais" />
      <meta name="keywords" content="sonu onu academico ufc simulacao"> -->
      <%= stylesheet_link_tag  'landingpage', media: 'all', 'data-turbolinks-track' => true %>
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">>

   </head>
   <body>
    <%= render "layouts/shared/shared" %>
    <%= javascript_include_tag 'landingpage' %>
   </body>
</html>