<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <title>Mini AJudaJus</title>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="language" content="pt-BR" />
      <link rel="icon" type="image/png" sizes="16x16" href="#">
      <meta name="author" content="Mini Ajuda Jus" />
      <meta name="description" content="Plataforma e Match com cliente x advogado" />
      <meta name="keywords" content="advogado cliente justica">
      <%= stylesheet_link_tag  'landingpage', media: 'all', 'data-turbolinks-track' => true %>
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
   </head>
   <body>
    <%= render "layouts/shared/shared" %>
    <%= javascript_include_tag 'landingpage' %>
   </body>
</html>